.logotype {
    a
    {
        font-weight: 900;

        display: flex;

        width: 38px;
        height: 38px;

        text-decoration: none;

        color: #fff;
        border-radius: 100%;
        background-color: #3ddc84;

        align-items: center;
        justify-content: center;
    }
}
