.movies-card
{
    overflow: hidden;

    border-radius: 10px;
    background: #222;
    box-shadow: 0 16px 24px rgba(0, 0, 0, .05);

    &__thumbnail
    {
        width: 100%;
        height: 151px;

        object-fit: cover;
        object-position: center;
    }

    @media(max-width: 600px){
        max-width: 300px;
    }
}

.info
{
    display: grid;

    box-sizing: border-box;
    padding: 14px 12px;

    grid-template-columns: 1fr min-content;

    &__name
    {
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
    
        margin: 0;
        padding-bottom: 10px;
    
        color: #fff;
    }
    
    &__duration
    {
        font-size: 11px;
        line-height: 13px;
    
        margin: 0;
    
        color: #8b8b8b;
    }

    &__save-button
    {
        transition: .2s;

        width: 16px;
        height: 16px;

        border: none;
        border: solid 2px #fff;
        border-radius: 100%;
        outline: none;
        background-color: initial;

        &_active
        {
            background-color: #2BE080;
        }

        &:hover
        {
            transition: .2s;

            transform: scale(1.2);
            cursor: pointer;
        }
    }
}
