.register
{
    display: grid;

    min-height: 100vh;
    margin: 0 30px;

    &__container
    {
        padding: 30px 0;
    
        &.container
        {
            width: 100%;
            max-width: 395px;
        }    
    }

    &__greetings
    {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
    
        margin: 40px 0;
    
        color: #fff;

        @media(max-width: 767px){
            text-align: center;
        }
    }

    &__logotype
    {
        @media(max-width: 767px){
            display: table;
            margin: auto;
        }
    }
}

.register-form
{
    display: grid;

    width: 100%;
    min-height: 40vh;
    margin: 0 auto;

    align-items: start;
    justify-items: center;
    grid-template-rows: 1fr min-content;

    &__body
    {
        display: grid;
    
        width: 100%;
    }
    
    &__footer
    {
        display: grid;
    
        width: 100%;
        padding: 30px 0 0;
    }
    
    &__input
    {
        width: 100%;
    }
    
    &__button
    {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
    
        height: 45px;
    
        color: #fff;
        border: none;
        border-radius: 3px;
        outline: none;
        background: #4285f4;

        &:hover
        {
            cursor: pointer;
        }
        
        &:disabled
        {
            pointer-events: none;
        
            opacity: .5;
        }
    }
    
    &__text
    {
        font-size: 14px;
        line-height: 17px;
    
        margin: 16px 0 0;
    
        text-align: center;
    
        color: #8b8b8b;

        @media(max-width: 767px){
            font-size: 12px;
            line-height: 15px;
        }
    }
    
    &__link
    {
        text-decoration: none;
    
        color: #4285f4;
    }
}
